
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Gallery</h2>
<img src="~/Images/Russian Mosque.jpg"  width="200" height="200"/>
<img src="~/Images/Good 1.jpg" width="200" height="200"/>