
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>The History of Islam</h2>

<h2>Abraham in Islam</h2>
<p>
    Abraham is called Ibrahim by Muslims. They see him as the father of the Arab people as well as the Jewish people through his two sons, Isaac and Ishmael (Isma'il in Arabic).

    The Muslim story of Ibrahim
    Abraham is a very interesting figure because he is depicted in the Qur'an as somebody who, from a very early age, had problems trying to understand God and trying to discover God; being restless, knowing that perhaps the Pagan environment which he was in did not have the answers. That, ultimately, God was not the star or the sun or the wind or the moon - all these forces that he saw - God was in something else.

    And so from that perspective, Abraham is considered to be neither a Jewish person, nor a Christian person nor a Muslim, but somebody who is a hernif - somebody who essentially and intrinsically knows that there is really only one God. And he is praised for this essential and innate yearning to discover the unity of God.

    There have been thousands of prophets and numbers of messengers but there are only four or five that have been designated a specific title according to Islam: Jesus is one, Moses is one and the Prophet Muhammad is one but also Abraham, who is known as a friend of God.

    Abraham had a specific allocation given to him by God, which is that from his progeny will be all the prophets and from them - for Muslims - comes Muhammad. But he does have a relationship with God: first of all he is baffled as to how he has a son at such a late stage through Hagar and then through Sarah.

    The tradition of God testing Abraham's devotion to him by asking him to sacrifice Ishmael is the heart of the Abrahamic tradition and the Abrahamic stories. Abraham was the first Prophet who was asked for the ultimate sacrifice: "I want you to sacrifice your own flesh and blood for me". And he passed the test because he was prepared to do it, in his submission and devotion to God.

    What are the stories told about Abraham in the Qur'an?
    Many of the stories in the Qur'an that relate to Abraham, Hagar and Ishmael are about their flights from Sarah and also about Abraham trying to set up another dwelling, another place with Hagar and his son Ishmael.

    Much of what Islamic tradition is about - and even some of the rituals such as the Hajj - stem from the pre-Islamic era and are translated into Islamic rituals through Abraham. Hagar looked for water and ran between two hills, which is enacted in the Hajj ceremony as a symbolic gesture of what Hagar was doing - looking for water - and pilgrims do that.

    God says to Abraham, "I'd like you to build my house for me..." - that is a Kaaba - "...here on this mound of earth, in this sacred place and I'd like you to erect the walls and I want you to purify this place." Part of this purification is what we see today in the Kaaba. The Islamic tradition has restricted this purity ritual to Muslims only. However the second ambulation that pilgrims do in praise of God is actually a legacy left from pre-Islamic days when pilgrims also came to the Kaaba - not to worship the one God, but to worship idols.

    There are various things that are part of the Abrahamic story, culminating in the ultimate sacrifice which is carried out on the last day of Hajj. As a symbolic gesture, Muslims re-enact what Abraham was going to do with Ishmael by sacrificing a lamb or sheep.
</p>

<h2>Mose In Islam</h2>
<p>Moses is an important prophet in the Muslim faith as well as in Judaism and Christianity. Muslims call him Musa.</p>

<h2>The Story of Mose</h2>
<p>
    A hundred years after the death of the Prophet Joseph, the rulers of Egypt passed a decree that a son born to an Israelite parent would be put to death; only daughters would be spared to serve the followers of Pharaoh. This was a 'dreadful torment' inflicted on Israelites.

    During this dreaded era, Moses was born; his mother was, however, commanded by God not to cast the child into the river on birth, but to suckle him till such time as she felt that there was real danger to his life.

    For about three months she reared him and then she put him in a box and lay it in the river. God promised her that her child would be safe, that he would soon be restored to her, and that he would be made 'one of our apostles'.

    The box was carried by the River Nile to the banks close to the palace of Pharaoh. A servant of Pharaoh who was passing by picked up the box and took the child to the Queen. Pharaoh was informed, and he ordered that the child be put to death.

    But the Queen, who was childless, was enchanted by the baby. She said, God had made him 'such a lovely child that the beholder could not but love him'. She beseeched Pharaoh to spare his life. 'Let us adopt him. He will be raised in our palace and would never know that he was an Israelite. He will be one of us and will, in fact, be useful in our fight against the Israelites.'

    Pharaoh relented. The Queen took to Moses as a mother would to her own new-born son. But the baby was restless and cried incessantly; no nurse was able to feed him.

    Moses' mother, who felt utterly bereft without her child, had asked ten-year-old daughter to follow the course of her brother's journey in the box, and to keep a watch on him. The little girl did as she was told. She entered the palace after the baby was taken there and managed to get close to the Queen, eventually gaining her confidence.
</p>
<p></p>