
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>What is Isalm ?</h2>

<p>
    The word 'Islam' in Arabic means submission to the will of God.

    Followers of Islam are called Muslims. Muslims believe there is one true God Allah (the Arabic word for God).
</p>
<h2>What do Muslims believe?</h2>
<p>
    Muslims believe that Islam was revealed over 1,400 years ago in Mekkah, Arabia through a man called Muhammad.

    Muhammad is so respected that it is usual for Muslims to say 'peace be upon him' whenever they mention his name.

    Muhammad is believed by Muslims to be the last prophet sent by God (Allah). They believe God sent prophets to mankind to teach them how to live according to His law.

    Jesus (Isa), Moses (Musa) and Abraham (Ibrahim) are other respected prophets.
</p>
<img src="~/Images/Hello.jpg" />
<h2>Five Pillars of Islam</h2>
<p>
    The Five Pillars of Islam are an important part of Muslim life. They are five things that a Muslim must do so they can live a good and responsible life. They include:

    The declaration of faith (Shahada)
    Praying five times a day (Salat)
    Giving money to charity (Zakah)
    Fasting during the month of Ramadan (Sawm)
    A pilgrimage to Makkah at least once in a lifetime (Hajj)
</p>
<h2>What is the holy book of Islam</h2>
<p>
    The Muslim holy book is called the Qur'an. Muslims believe this to be the word of Allah as dictated to Muhammad.

    They also have the Sunnah, which Muslims believe to be the practical example of Prophet Muhammad.
</p>
<img src="~/Images/Quran 12.jpg" width="200" height="200" />