@{
    ViewBag.Title = "Quran";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h2>The Holy Quran</h2>
<div id="quran-text">
    <p>In the name of God, the Gracious, the Merciful.</p>
    <p>
        <span>1. </span>Kaf, Ha, Ya, Ayn, Saad.
    </p>
    <p>
        <span>2. </span>A mention of the mercy of your Lord towards His servant Zechariah.
    </p>
    <p>
        <span>3. </span>When he called on his Lord, a call in seclusion.
    </p>
    <p>
        <span>4. </span>He said, “My Lord, my bones have become feeble, and my hair is aflame with gray, and never, Lord, have I been disappointed in my prayer to you.
    </p>
    <p>
        <span>5. </span>“And I fear for my dependents after me, and my wife is barren. So grant me, from Yourself, an heir.
    </p>
    <p>
        <span>6. </span>To inherit me, and inherit from the House of Jacob, and make him, my Lord, pleasing.”
    </p>
    <p>
        <span>7. </span>“O Zechariah, We give you good news of a son, whose name is John, a name We have never given before.”
    </p>
    <p>
        <span>8. </span>He said, “My Lord, how can I have a son, when my wife is barren, and I have become decrepit with old age?”
    </p>
    <p>
        <span>9. </span>He said, “It will be so, your Lord says, ‘it is easy for me, and I created you before, when you were nothing.’”
    </p>
    <p>
        <span>10. </span>He said, “My Lord, give me a sign.” He said, “Your sign is that you will not speak to the people for three nights straight.”
    </p>
    <p>
        <span>11. </span>And he came out to his people, from the sanctuary, and signaled to them to praise morning and evening.
    </p>
    <p>
        <span>12. </span>“O John, hold on to the Scripture firmly,” and We gave him wisdom in his youth.
    </p>
    <p>
        <span>13. </span>And tenderness from Us, and innocence. He was devout.
    </p>
    <p>
        <span>14. </span>And kind to his parents; and he was not a disobedient tyrant.
    </p>
    <p>
        <span>15. </span>And peace be upon him the day he was born, and the day he dies, and the Day he is raised alive.
    </p>
    <p>
        <span>16. </span>And mention in the Scripture Mary, when she withdrew from her people to an eastern location.
    </p>
    <p>
        <span>17. </span>She screened herself away from them, and We sent to her Our spirit, and He appeared to her as an immaculate human.
    </p>
    <p>
        <span>18. </span>She said, “I take refuge from you in the Most Merciful, should you be righteous.”
    </p>
    <p>
        <span>19. </span>He said, “I am only the messenger of your Lord, to give you the gift of a pure son.”
    </p>
    <p>
        <span>20. </span>She said, “How can I have a son, when no man has touched me, and I was never unchaste?”
    </p>
    <p>
        <span>21. </span>He said, “Thus said your Lord, `It is easy for Me, and We will make him a sign for humanity, and a mercy from Us. It is a matter already decided.'“
    </p>
    <p>
        <span>22. </span>So she carried him, and secluded herself with him in a remote place.
    </p>
    <p>
        <span>23. </span>The labor-pains came upon her, by the trunk of a palm-tree. She said, “I wish I had died before this, and been completely forgotten.”
    </p>
    <p>
        <span>24. </span>Whereupon he called her from beneath her: “Do not worry; your Lord has placed a stream beneath you.
    </p>
    <p>
        <span>25. </span>And shake the trunk of the palm-tree towards you, and it will drop ripe dates by you.”
    </p>
    <p>
        <span>26. </span>“So eat, and drink, and be consoled. And if you see any human, say, ‘I have vowed a fast to the Most Gracious, so I will not speak to any human today.'“
    </p>
    <p>
        <span>27. </span>Then she came to her people, carrying him. They said, “O Mary, you have done something terrible.
    </p>
    <p>
        <span>28. </span>O sister of Aaron, your father was not an evil man, and your mother was not a whore.”
    </p>
    <p>
        <span>29. </span>So she pointed to him. They said, “How can we speak to an infant in the crib?”
    </p>
    <p>
        <span>30. </span>He said, “I am the servant of God. He has given me the Scripture, and made me a prophet.
    </p>
    <p>
        <span>31. </span>And has made me blessed wherever I may be; and has enjoined on me prayer and charity, so long as I live.
    </p>
    <p>
        <span>32. </span>And kind to my mother, and He did not make me a disobedient rebel.
    </p>
    <p>
        <span>33. </span>So Peace is upon me the day I was born, and the day I die, and the Day I get resurrected alive.”
    </p>
    <p>
        <span>34. </span>That is Jesus son of Mary—the Word of truth about which they doubt.
    </p>
    <p>
        <span>35. </span>It is not for God to have a child—glory be to Him. To have anything done, He says to it, “Be,” and it becomes.
    </p>
    <p>
        <span>36. </span>“God is my Lord and your Lord, so worship Him. That is a straight path.”
    </p>
    <p>
        <span>37. </span>But the various factions differed among themselves. So woe to those who disbelieve from the scene of a tremendous Day.
    </p>
    <p>
        <span>38. </span>Listen to them and watch for them the Day they come to Us. But the wrongdoers today are completely lost.
    </p>
    <p>
        <span>39. </span>And warn them of the Day of Regret, when the matter will be concluded. Yet they are heedless, and they do not believe.
    </p>
    <p>
        <span>40. </span>It is We who will inherit the earth and everyone on it, and to Us they will be returned.
    </p>
    <p>
        <span>41. </span>And mention in the Scripture Abraham. He was a man of truth, a prophet.
    </p>
    <p>
        <span>42. </span>He said to his father, “O my father, why do you worship what can neither hear, nor see, nor benefit you in any way?
    </p>
    <p>
        <span>43. </span>O my father, there has come to me knowledge that never came to you. So follow me, and I will guide you along a straight way.
    </p>
    <p>
        <span>44. </span>O my father, do not worship the devil. The devil is disobedient to the Most Gracious.
    </p>
    <p>
        <span>45. </span>O my father, I fear that a punishment from the Most Gracious will afflict you, and you become an ally of the devil.”
    </p>
    <p>
        <span>46. </span>He said, “Are you renouncing my gods, O Abraham? If you do not desist, I will stone you. So leave me alone for a while.”
    </p>
    <p>
        <span>47. </span>He said, “Peace be upon you. I will ask my Lord to forgive you; He has been Kind to me.
    </p>
    <p>
        <span>48. </span>And I will withdraw from you, and from what you pray to instead of God. And I will pray to my Lord, and I hope I will not be disappointed in my prayer to my Lord.”
    </p>
    <p>
        <span>49. </span>When he withdrew from them, and from what they worship besides God, We granted him Isaac and Jacob. And each We made a prophet.
    </p>
    <p>
        <span>50. </span>And We gave them freely of Our mercy, and gave them a noble reputation of truth.
    </p>
    <p>
        <span>51. </span>And mention in the Scripture Moses. He was dedicated. He was a messenger and a prophet.
    </p>
    <p>
        <span>52. </span>And We called him from the right side of the Mount, and brought him near in communion.
    </p>
    <p>
        <span>53. </span>And We granted him, out of Our mercy, his brother Aaron, a prophet.
    </p>
    <p>
        <span>54. </span>And mention in the Scripture Ishmael. He was true to his promise, and was a messenger, a prophet.
    </p>
    <p>
        <span>55. </span>And he used to enjoin on his people prayer and charity, and he was pleasing to his Lord.
    </p>
    <p>
        <span>56. </span>And mention in the Scripture Enoch. He was a man of truth, a prophet.
    </p>
    <p>
        <span>57. </span>And We raised him to a high position.
    </p>
    <p>
        <span>58. </span>These are some of the prophets God has blessed, from the descendants of Adam, and from those We carried with Noah, and from the descendants of Abraham and Israel, and from those We guided and selected. Whenever the revelations of the Most Gracious are recited to them, they would fall down, prostrating and weeping.
    </p>
    <p>
        <span>59. </span>But they were succeeded by generations who lost the prayers and followed their appetites. They will meet perdition.
    </p>
    <p>
        <span>60. </span>Except for those who repent, and believe, and act righteously. These will enter Paradise, and will not be wronged in the least.
    </p>
    <p>
        <span>61. </span>The Gardens of Eden, promised by the Most Merciful to His servants in the Unseen. His promise will certainly come true.
    </p>
    <p>
        <span>62. </span>They will hear no nonsense therein, but only peace. And they will have their provision therein, morning and evening.
    </p>
    <p>
        <span>63. </span>Such is Paradise which We will give as inheritance to those of Our servants who are devout.
    </p>
    <p>
        <span>64. </span>“We do not descend except by the command of your Lord. His is what is before us, and what is behind us, and what is between them. Your Lord is never forgetful.”
    </p>
    <p>
        <span>65. </span>Lord of the heavens and the earth and what is between them. So worship Him, and persevere in His service. Do you know of anyone equal to Him?
    </p>
    <p>
        <span>66. </span>And the human being says, “When I am dead, will I be brought back alive?”
    </p>
    <p>
        <span>67. </span>Does the human being not remember that We created him before, when he was nothing?
    </p>
    <p>
        <span>68. </span>By your Lord, We will round them up, and the devils, then We will bring them around Hell, on their knees.
    </p>
    <p>
        <span>69. </span>Then, out of every sect, We will snatch those most defiant to the Most Merciful.
    </p>
    <p>
        <span>70. </span>We are fully aware of those most deserving to scorch in it.
    </p>
    <p>
        <span>71. </span>There is not one of you but will go down to it. This has been an unavoidable decree of your Lord.
    </p>
    <p>
        <span>72. </span>Then We will rescue those who were devout, and leave the wrongdoers in it, on their knees.
    </p>
    <p>
        <span>73. </span>When Our clear revelations are recited to them, those who disbelieve say to those who believe, “Which of the two parties is better in position, and superior in influence?”
    </p>
    <p>
        <span>74. </span>How many a generation have We destroyed before them, who surpassed them in riches and splendor?
    </p>
    <p>
        <span>75. </span>Say, “Whoever is in error, the Most Merciful will lead him on.” Until, when they see what they were promised—either the punishment, or the Hour. Then they will know who was in worse position and weaker in forces.
    </p>
    <p>
        <span>76. </span>God increases in guidance those who accept guidance. And the things that endure—the righteous deeds—have the best reward with your Lord, and the best outcome.
    </p>
    <p>
        <span>77. </span>Have you seen him who denied Our revelations, and said, “I will be given wealth and children”?
    </p>
    <p>
        <span>78. </span>Did he look into the future, or did he receive a promise from the Most Merciful?
    </p>
    <p>
        <span>79. </span>No indeed! We will write what he says, and will keep extending the agony for him.
    </p>
    <p>
        <span>80. </span>Then We will inherit from him what he speaks of, and he will come to Us alone.
    </p>
    <p>
        <span>81. </span>And they took, besides God, other gods, to be for them a source of strength.
    </p>
    <p>
        <span>82. </span>By no means! They will reject their worship of them, and become opponents to them.
    </p>
    <p>
        <span>83. </span>Have you not considered how We dispatch the devils against the disbelievers, exciting them with incitement?
    </p>
    <p>
        <span>84. </span>So do not hurry against them. We are counting for them a countdown.
    </p>
    <p>
        <span>85. </span>On the Day when We will gather the righteous to the Most Merciful, as guests.
    </p>
    <p>
        <span>86. </span>And herd the sinners into hell, like animals to water.
    </p>
    <p>
        <span>87. </span>They will have no power of intercession, except for someone who has an agreement with the Most Merciful.
    </p>
    <p>
        <span>88. </span>And they say, “The Most Merciful has begotten a son.”
    </p>
    <p>
        <span>89. </span>You have come up with something monstrous.
    </p>
    <p>
        <span>90. </span>At which the heavens almost rupture, and the earth splits, and the mountains fall and crumble.
    </p>
    <p>
        <span>91. </span>Because they attribute a son to the Most Merciful.
    </p>
    <p>
        <span>92. </span>It is not fitting for the Most Merciful to have a son.
    </p>
    <p>
        <span>93. </span>There is none in the heavens and the earth but will come to the Most Merciful as a servant.
    </p>
    <p>
        <span>94. </span>He has enumerated them, and counted them one by one.
    </p>
    <p>
        <span>95. </span>And each one of them will come to Him on the Day of Resurrection alone.
    </p>
    <p>
        <span>96. </span>Those who believe and do righteous deeds, the Most Merciful will give them love.
    </p>
    <p>
        <span>97. </span>We made it easy in your tongue, in order to deliver good news to the righteous, and to warn with it a hostile people.
    </p>
    <p>
        <span>98. </span>How many a generation have We destroyed before them? Can you feel a single one of them, or hear from them the slightest whisper?
    </p>
</div>
<div id="quran-text"><p id="verse-0"></p><p>In the name of God, the Gracious, the Merciful.</p><p id="verse-1"><span>1. </span>Alif, Lam, Ra. A Scripture that We revealed to you, that you may bring humanity from darkness to light—with the permission of their Lord—to the path of the Almighty, the Praiseworthy.</p><p id="verse-2"><span>2. </span>God—to whom belongs what is in the heavens and the earth. And woe to the disbelievers from a severe torment.</p><p id="verse-3"><span>3. </span>Those who prefer the present life to the Hereafter, and repel from the path of God, and seek to make it crooked—these are far astray.</p><p id="verse-4"><span>4. </span>We never sent any messenger except in the language of his people, to make things clear for them. God leads astray whom He wills, and guides whom He wills. He is the Mighty, the Wise.</p><p id="verse-5"><span>5. </span>We sent Moses with Our signs: “Bring your people out of darkness into light, and remind them of the Days of God.” In that are signs for every patient and thankful person.”</p><p id="verse-6"><span>6. </span>Moses said to his people, “Remember God’s blessings upon you, as He delivered you from the people of Pharaoh, who inflicted on you terrible suffering, slaughtering your sons while sparing your daughters. In that was a serious trial from your Lord.”</p><p id="verse-7"><span>7. </span>And when your Lord proclaimed: “If you give thanks, I will grant you increase; but if you are ungrateful, My punishment is severe.”</p><p id="verse-8"><span>8. </span>And Moses said, “Even if you are ungrateful, together with everyone on earth—God is in no need, Worthy of Praise.”</p><p id="verse-9"><span>9. </span>Has not the story reached you, of those before you, the people of Noah, and Aad, and Thamood—and those after them? None knows them except God. Their messengers came to them with the clear proofs, but they tried to silence them, and said, “We reject what you are sent with, and we are in serious doubt regarding what you are calling us to.”</p><p id="verse-10"><span>10. </span>Their messengers said, “Is there any doubt about God, Maker of the heavens and the earth? He calls you to forgive you your sins, and to defer you until a stated term.” They said, “You are only humans like us; you want to turn us away from what our ancestors worshiped; so bring us a clear proof.”</p><p id="verse-11"><span>11. </span>Their messengers said to them, “We are only humans like you, but God favors whomever He wills from among His servants. We cannot possibly show you any proof, except by leave of God. In God let the faithful put their trust.”</p><p id="verse-12"><span>12. </span>“And why should we not trust in God, when He has guided us in our ways? We will persevere in the face of your persecution. And upon God the reliant should rely.”</p><p id="verse-13"><span>13. </span>Those who disbelieved said to their messengers, “We will expel you from our land, unless you return to our religion.” And their Lord inspired them: “We will destroy the wrongdoers.”</p><p id="verse-14"><span>14. </span>“And We will settle you in the land after them. That is for him who fears My Majesty, and fears My threats.”</p><p id="verse-15"><span>15. </span>And they prayed for victory, and every stubborn tyrant came to disappointment.</p><p id="verse-16"><span>16. </span>Beyond him lies Hell, and he will be given to drink putrid water.</p><p id="verse-17"><span>17. </span>He will guzzle it, but he will not swallow it. Death will come at him from every direction, but he will not die. And beyond this is relentless suffering.</p><p id="verse-18"><span>18. </span>The likeness of those who disbelieve in their Lord: their works are like ashes, in a fierce wind, on a stormy day. They have no control over anything they have earned. That is the utmost misguidance.</p><p id="verse-19"><span>19. </span>Do you not see that God created the heavens and the earth with truth? If He wills, He can do away with you, and bring a new creation.</p><p id="verse-20"><span>20. </span>And that is not difficult for God.</p><p id="verse-21"><span>21. </span>They will emerge before God, altogether. The weak will say to those who were proud, “We were your followers, can you protect us at all against God’s punishment?” They will say, “Had God guided us, we would have guided you. It is the same for us; whether we mourn, or are patient; there is no asylum for us.”</p><p id="verse-22"><span>22. </span>And Satan will say, when the issue is settled, “God has promised you the promise of truth, and I promised you, but I failed you. I had no authority over you, except that I called you, and you answered me. So do not blame me, but blame yourselves. I cannot come to your aid, nor can you come to my aid. I reject your associating with me in the past. The wrongdoers will have a torment most painful.”</p><p id="verse-23"><span>23. </span>But those who believed and did good deeds will be admitted into gardens beneath which rivers flow, to remain therein forever, by leave of their Lord. Their greeting therein will be: “Peace.”</p><p id="verse-24"><span>24. </span>Do you not see how God presents a parable? A good word is like a good tree—its root is firm, and its branches are in the sky.</p><p id="verse-25"><span>25. </span>It yields its fruits every season by the will of its Lord. God presents the parables to the people, so that they may reflect. </p><p id="verse-26"><span>26. </span>And the parable of a bad word is that of a bad tree—it is uprooted from the ground; it has no stability.</p><p id="verse-27"><span>27. </span>God gives firmness to those who believe, with the firm word, in this life, and in the Hereafter. And God leads the wicked astray. God does whatever He wills.</p><p id="verse-28"><span>28. </span>Have you not seen those who exchanged the blessing of God with blasphemy, and landed their people into the house of perdition?</p><p id="verse-29"><span>29. </span>Hell—they will roast in it. What a miserable settlement.</p><p id="verse-30"><span>30. </span>And they set up rivals to God, in order to lead away from His path. Say, “Enjoy yourselves; your destination is the Fire.”</p><p id="verse-31"><span>31. </span>Tell My servants who have believed to perform the prayers, and to give from what We have given them, secretly and publicly, before a Day comes in which there is neither trading nor friendship.</p><p id="verse-32"><span>32. </span>God is He Who created the heavens and the earth, and sends down water from the sky, and with it produces fruits for your sustenance. And He committed the ships to your service, sailing through the sea by His command, and He committed the rivers to your service.</p><p id="verse-33"><span>33. </span>And He committed the sun and the moon to your service, both continuously pursuing their courses, and He committed the night and the day to your service.</p><p id="verse-34"><span>34. </span>And He has given you something of all what you asked. And if you were to count God’s blessings, you would not be able to enumerate them. The human being is unfair and ungrateful.</p><p id="verse-35"><span>35. </span>Recall that Abraham said, “O my Lord, make this land peaceful, and keep me and my sons from worshiping idols.”</p><p id="verse-36"><span>36. </span>“My Lord, they have led many people astray. Whoever follows me belongs with me; and whoever disobeys me—You are Forgiving and Merciful.</p><p id="verse-37"><span>37. </span>“Our Lord, I have settled some of my offspring in a valley of no vegetation, by Your Sacred House, our Lord, so that they may perform the prayers. So make the hearts of some people incline towards them, and provide them with fruits, that they may be thankful.”</p><p id="verse-38"><span>38. </span>“Our Lord, You know what we conceal and what we reveal. And nothing is hidden from God, on earth or in the heaven.”</p><p id="verse-39"><span>39. </span>“Praise be to God, Who has given me, in my old age, Ishmael and Isaac. My Lord is the Hearer of Prayers.”</p><p id="verse-40"><span>40. </span>“My Lord, make me one who performs the prayer, and from my offspring. Our Lord, accept my supplication.”</p><p id="verse-41"><span>41. </span>“Our Lord, forgive me, and my parents, and the believers, on the Day the Reckoning takes place.”</p><p id="verse-42"><span>42. </span>Do not ever think that God is unaware of what the wrongdoers do. He only defers them until a Day when the sights stare.</p><p id="verse-43"><span>43. </span>Their necks outstretched, their heads upraised, their gaze unblinking, their hearts void.</p><p id="verse-44"><span>44. </span>And warn mankind of the Day when the punishment will come upon them, and the wicked will say, “Our Lord, defer us for a little while, and we will answer Your call and follow the messengers.” Did you not swear before that there will be no passing away for you?</p><p id="verse-45"><span>45. </span>And you inhabited the homes of those who wronged themselves, and it became clear to you how We dealt with them, and We cited for you the examples.</p><p id="verse-46"><span>46. </span>They planned their plans, but their plans are known to God, even if their plans can eliminate mountains.</p><p id="verse-47"><span>47. </span>Do not ever think that God will break His promise to His messengers. God is Strong, Able to Avenge.</p><p id="verse-48"><span>48. </span>On the Day when the earth is changed into another earth, and the heavens, and they will emerge before God, the One, the Irresistible.</p><p id="verse-49"><span>49. </span>On that Day, you will see the sinners bound together in chains. </p><p id="verse-50"><span>50. </span>Their garments made of tar, and the Fire covering their faces.</p><p id="verse-51"><span>51. </span>That God may repay each soul according to what it has earned. God is Quick in reckoning.</p><p id="verse-52"><span>52. </span>This is a proclamation for mankind, that they may be warned thereby, and know that He is One God, and that people of understanding may remember.</p></div>